* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-anton {
}
.box-kirill {
}
.box-ruslan {
}
.box-stas {
}
.box-tanya {
}
.box-victoriya {
}
.box-vlad {
}
.box-vladimir {
}
.box-ylaia {
}
